{% extends "base_page.html" %}

{% load url from future %}

{% block headline %}{{ vendor.name }}{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.vendor }}

    {% if form.errors %}
    <span style="color: red">
      <p>There were errors in your submission. Please review the information below.</p>
      {{ form.errors }}
    </span>

    {% endif %} 

    <div class="row">
      <div class="span12">
      <div class="fieldWrapper">
        <span style="color: red">{{ form.food_rating.errors }}</span>
        {{ form.food_rating.label_tag }}
        {{ form.food_rating }}
        {{ form.food_rating.help_text }}
      </div>

      <div class="fieldWrapper">
        <span style="color: red">{{ form.atmosphere_rating.errors }}</span>
        {{ form.atmosphere_rating.label_tag }}
        {{ form.atmosphere_rating }}
        {{ form.atmosphere_rating.help_text }}
      </div>

      <div class="fieldWrapper vegan-dish-choices">
        <span style="color: red">{{ form.best_vegan_dish.errors }}</span>
        {{ form.best_vegan_dish.label_tag }}
        {{ form.best_vegan_dish }}
        {{ form.best_vegan_dish.help_text }}
      </div>

      <div class="fieldWrapper">
        <span style="color: red">{{ form.title.errors }}</span>
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.help_text }}
      </div>

      <div class="fieldWrapper">
        <span style="color: red">{{ form.content.errors }}</span>
        {{ form.content.label_tag }}
        {{ form.content }}
        {{ form.content.help_text }}
      </div>

      <input type="submit" class="btn btn-custom" value="Submit" id="id_submit">
    </div>
    </div>

  </form>
</div>
{% endblock content %}

{% block body_extra %}
<script type="text/javascript" src="{{ STATIC_URL }}js/review_form.js"></script>
{% endblock body_extra %}

